astropy==6.1.7
GitPython==3.1.45
gwdatafind==2.0.0
gwosc==0.8.1
gwpy==3.0.12
h5py==3.14.0
lalsuite==7.26.1
ligo-segments==1.4.0
ligotimegps==2.0.1
lscsoft-glue==4.1.0
numpy==1.26.4
pandas==2.3.1
parso==0.8.4
pillow==11.3.0
PyCBC==2.5.1
pyerfa==2.0.1.5
python-dateutil==2.9.0.post0
python-ligo-lw @ git+https://git.ligo.org/kipp/python-ligo-lw.git@3df90225ffa72230e8b636d4926f54007d51b673
scipy==1.15.3
streamlit==1.47.1
tqdm==4.67.1
plotly==6.2.0
plotly-resampler==0.11.0
h5netcdf==1.7.3 
#xarray==2025.6.1 
#xarray-einstats==0.8.0
#nbformat==5.10.4